dialog {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    background-clip: padding-box;
    padding: .2rem;
    min-width: 500px;
    overflow: hidden;
    display: flex;
    max-height: calc(100% - 3rem);

    /* transition: visibility .2s linear, opacity .2s linear; */
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}

dialog form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

dialog::backdrop {
    opacity: 1;
    background: rgba(105, 105, 105, 0.295);
}

dialog .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .5rem;
    border-bottom: 1px solid #dee2e6;
}

dialog .modal-header [data-ref="closeX"] {
    cursor: pointer;
}

dialog .modal-header h4 {
    margin: .2rem .2rem;
}

dialog .modal-body {
    display: flex;
    padding: .5rem .5rem;
    border-bottom: 1px solid #dee2e6;
    overflow-y: auto;
    position: relative;
    flex: 1 1 auto;
}

dialog [data-ref="content"] {
    width: 100%;
}

dialog .modal-footer {
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Animación de apertura/cierre */

dialog[open] {
    animation: show .3s ease normal;
}

dialog:not([open]) {
    /* visibility: hidden;
    opacity: 0; */
}

dialog.hide {
    animation: hide .3s ease normal;
}

@keyframes hide {
    to {
        transform: translateY(-110%);
    }
}

@keyframes show {
    from {
        transform: translateY(-110%);
    }

    to {
        transform: translateY(0%);
    }
}